<div class="container d-flex flex-column align-items-center col-md-4 my-5">
    <h1>
        Mes informations
    </h1>
    <div class="list-group my-5 w-75">
        {% if is_granted ('ROLE_ADMIN') %}
        <a href="{{path('app_admin', {id: app.user.id})}}" class="list-group-item list-group-item-action bg-secondary text-white">
            Acceder à ma page Admin
        </a>
        {% endif %}
        <a href="{{path('app_user', {id:app.user.id})}}" class="list-group-item list-group-item-action bg-secondary text-white">
            Modifier mes informations
        </a>
        <a href="{{path('app_user_password', {id: app.user.id})}}" class="list-group-item list-group-item-action bg-secondary text-white">
            Modifier le mot de passe
        </a>
        <a href="{{ path('app_user_delete', {id: app.user.id}) }}" onclick="return confirm('Etes vous sûr de vouloir supprimer votre compte {{app.user.firstName}} ?');" class="list-group-item text-white list-group-item-action bg-danger">
            Supprimer mon compte
        </a>
    </div>
</div>