{% extends 'base.html.twig' %}

{% block title %}Modification - Dream-Gym{% endblock %}

{% block body %}
    <div class="container-connexion d-flex flex-column align-items-center">
    <div class="container col-md-6">
        <h1 class="pt-4">
            Modification du programme
        </h1>

        {{ form_start(form) }}

        {% if form.name is defined %}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
        {% endif %}
        
        {% if form.description is defined %}
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            <div class="form-error">
            {{ form_errors(form.description) }}
            </div>
        </div>
        {% endif %}
        
        {% if form.imageFile is defined %}
        <div class="form-group">
            {{ form_row(form.imageFile) }}
            {# {{ form_widget(form.image) }} #}
            <div class="form-error">
            {{ form_errors(form.imageFile) }}
            </div>
        </div>
        {% endif %}
        
        {% if form.submit is defined %}
        <div class="form-group">
            {{ form_row(form.submit) }}
        </div>
        {% endif %}

        </div>
        {{ form_end(form) }}
    <hr class="border-light w-100 my-5">
    </div>
    </div>
{% endblock %}
