{% extends 'base.html.twig' %}

{% block title %}Programmes - Dream-Gym{% endblock %}

{% block body %}
    <div class="backgroundProgramme">
      <h1 class="pb-3 mb-4 font-italic border-bottom">Nos programmes</h1>
      
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4 text-center">
                {{message}}
            </div>
            
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger mt-4 text-center">
                {{message}}
            </div>
            
        {% endfor %}

      <div class="container card1">
        <div class="row">
        {% for programme in programmes %}
            <div class="col-md-4">
                <div class="card mb-4 text-white bg-dark">
                    <img class="card-img-top" src="{{programme.image}}"/>  
                    <div class="card-body">
                        <h5 class="card-title">{{programme.name}}</h5>
                        <p class="card-text">{{programme.description}}</p>
                        <a href="#" class="btn btn-outline-custom btn-sm btn-read-more">Voir plus</a>
                        <a href="{{path('programmes_edit', {id: programme.id})}}" class="btn btn-outline-custom btn-sm btn-read-more">Modifier</a>
                        <a href="{{path('programmes_delete', {id: programme.id})}}" onclick="return confirm('Etes vous sûr de vouloir supprimer ce programme ?');" class="btn btn-outline-custom btn-sm btn-read-more">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
      </div>
      <div class="container d-flex justify-content-center mt-4">
        <a href="{{ path('programmes_new')}}" class="btn btn-primary mb-4">Créer un programme</a>
      </div>
    </div>
{% endblock %}
