{% extends 'base.html.twig' %}

{% block title %}Programmes - Dream-Gym{% endblock %}

{% block body %}
    <div class="backgroundProgramme">
      <h1 class="mb-4 font-italic border-bottom">Nos programmes</h1>
      
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4 text-center">
                {{message}}
            </div>
            
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger mt-4 text-center">
                {{message}}
            </div>
            
        {% endfor %}

      <div class="container card1">
        <div class="row">
        {% for programme in programmes %}
            <div class="col-md-4">
                <div class="card mb-4 text-white bg-dark">
                    {# <img class="card-img-top" src="{{programme.image}}"/> #}
                    <img class="card-img-top" src="{{ vich_uploader_asset(programme, 'imageFile') }}">  
                    <div class="card-body">
                        <h5 class="card-title">{{programme.name}}</h5>
                        <p class="card-text">{{programme.description}}</p>
                        <p>
                        Note sur 5 : 
                        {% for i in 0..programme.average %}
                        <i class="fa fa-star"></i>
                        {% endfor %}
                        </p>
                        <a href="{{ path('app_programme_description', {id: programme.id})}}" class="btn btn-outline-custom btn-sm btn-read-more">Voir plus</a>
                        <a href="{{ programme.paymentLink }}" class="btn btn-outline-custom btn-sm btn-read-more">Acheter le programme</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{path('programmes_edit', {id: programme.id})}}" class="btn btn-outline-custom btn-sm btn-read-more">Modifier</a>
                        <a href="{{path('programmes_delete', {id: programme.id})}}" onclick="return confirm('Etes vous sûr de vouloir supprimer ce programme ?');" class="btn btn-outline-custom btn-sm btn-read-more">Supprimer</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
      </div>
      {% if is_granted('ROLE_ADMIN') %}
      <div class="container d-flex justify-content-center mt-4">
        <a href="{{ path('programmes_new')}}" class="btn btn-success mb-4">Créer un programme</a>
      </div>
      {% endif %}
    </div>
{% endblock %}
