{% extends 'base.html.twig' %}

{% block title %}Nouveau - Dream-Gym{% endblock %}

{% block body %}
    <div class="container-connexion d-flex flex-column align-items-center">
    <div class="container col-md-6">
        <h1 class="pt-4">
            Création d'un nouveau programme
        </h1>

        {{ form_start(form) }}

        <div class="form-group">
            {{form_label(form.name)}}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
        
        <div class="form-group">
            {{form_label(form.description)}}
            {{ form_widget(form.description) }}
            <div class="form-error">
            {{ form_errors(form.description) }}
            </div>
        </div>
        
        <div class="form-group">
            {{form_row(form.imageFile)}}
            {# {{ form_widget(form.imageFile) }} #}
            <div class="form-error">
            {{ form_errors(form.imageFile) }}
            </div>
        </div>
        
        <div class="form-group">
            {{form_row(form.submit)}}
        </div>

        </div>
        {{ form_end(form) }}
        <br>
        <a href="{{ path('app_programmes')}}" class="btn btn-outline-custom btn-sm btn-read-more">Retourner aux programmes</a>
        <hr class="border-light w-100 my-5">
    </div>
    </div>
{% endblock %}
